.expirtes {
    background: var(--main-background);
}
.expirtes-info {
    padding: 4rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.expirtes-info .info {
    margin: 4rem;
}
.name {
    padding: 1rem;
    font-size: 90px;
    font-family: var(--font-base);
    color: rgba(16, 116, 163, 0.77);
}
.self-image img {
    height:600px ;
    border-radius: 15%;
}
.expirtes .about-me {
    padding-top: 2rem;
    font-size: 30px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.expirtes h3
{
    font-size: 25px;
    font-weight: 500;
}
.expirtes h4 {
    font-size: 25px;
    font-weight: 500;
}
.resume button {
    background-color: rgba(16, 116, 163, 0.77);
    outline: none;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    padding:15px 10px;
    cursor: pointer;
}
.resume button a {
    font-size: 25px;
    font-weight: 500;
    color: #000;
}
.resume button:hover {
    background-color:rgb(75 161 201 / 28%);
}
.icons {
    text-align: center;
}
@media (max-width:710px){

    .name {
        font-size: 65px;
    }
}
@media (max-width:800px) {
        .expirtes-info {
        padding: 3rem 0;
        flex-direction: column-reverse;
    }
}
@media (max-width:680px) {
    .self-image img {
        height: 400px;
    }
        .expirtes p {
            font-size: 20px;
    }   
    .expirtes-info .info {
        max-width: 500px;
    }
    .name {
        padding:0;
        font-size: 70px;
    }
}