.active {
    display: block;
}
.passive {
    display: none;
}
ul {
    list-style: none;
}
.mobile-nav {
    position: relative;

}
.mobile-nav-container {
    position: fixed;
    background: linear-gradient(90deg, rgb(0 251 218 / 16%) 0%, rgb(76 244 244 / 71%) 50%, rgb(216 241 241 / 53%) 100%);   
    right: 0;
    top: 5rem;
    width: 50%;
    height: fit-content;
    z-index: 1000;
    text-align: center;   
}
li {
    padding: 2rem;
    font-size: 17px;
}
a {
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
a:hover {
    color: #1217a9;
}
.scale-up-top {
	-webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.mobile-nav .btn {
    font-size: 3rem;
    position: fixed;
    right: 2rem;
    align-items: center;
    top: 1.3rem;
    fill: #166e72;
    cursor: pointer;
    z-index: 3000;
}

@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
  }
}
@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    }
}
