.display {
    display:  none;
}
.active {
    display: block;
}
.icon {
    position: absolute;
    font-size: 40px;
    top: 1rem;
    right: 4rem;
    fill: black;
    cursor: pointer;
    z-index: 3000;
}