.display {
    display:  none;
}
.active {
    display: block;
}
.icon {
    position: absolute;
    font-size: 40px;
    top: 1rem;
    right: 4rem;
    fill: black;
    cursor: pointer;
    z-index: 3000;
}
@media (max-width:1450px) {
    .card-container {
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
    }
}
@media (max-width:1060px) {
    .card-container {
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    
}