.reels-container {
    background: var(--main-background);
    margin-bottom: 4rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.reels-heading h4 {
    font-size: 50px;
    font-weight: 800;
    font-family: var(--font-base);
}
.reels-heading p {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 4rem;
    width: 100%;
    margin: 0;
}
@media (max-width:500px){
    .reels-heading  {
    padding-bottom: 0;
    margin-bottom: 0;
}
    .reels-heading h4 {
        font-size: 40px;
        padding: 0;
    }
}