.contact-me {
    padding: 0.5rem;
    margin: 2rem 0;
    background: linear-gradient(90deg, rgba(165, 243, 243, 0.53) 0%, rgb(76 244 244 / 0%) 50%, rgba(165, 243, 243, 0.53) 100%);
}
.container {
    margin: 7rem 4rem;
}
.container p {
    font-size: 25px;
    font-weight: 600;
}
.contact-me h4 {
    font-size: 50px;
    font-weight: 800;
    font-family: var(--font-base);
    margin: 1rem 0 2rem 0;
}
.contact-me a {
    font-size: 26px;
    width: 75%;
    font-weight: 600;
    padding: 1rem 0.5rem;
    color: #000;
}
.contact-me a:hover {
    color: #3b3131;
}
.contact {
    display: flex;
    flex-direction: column;
}
.contact .icon-media {
    font-size: 40px;
    fill: black;
}
.icon-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}
@media (max-width:620px) {
    .container {
        margin: 7rem 2rem;
    }
    .contact-me a  {
        font-size: 24px;
    }
    .contact .icon-media {
    font-size: 30px;
}
}