.card-content .des p {
    margin-right: 0;
    margin-left: 0;
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-base);
    cursor: pointer;
}
@media (max-width:920px){
    .card-content .des p {
        font-weight: 600;
        font-size: 20px;
    }
}
    @media (max-width:450px){
    .card-content .video {
        width: 230px;
        height: 120px;
    }
    .card-content .video video {
        width: 230px;
        height: 120px;
    }
}